<h2>Owned Stocks </h2>

<table class="table table-primary table-striped">
  <thead>
    <tr class="table-primary">
      <th>Name</th>
      <th>Symbol</th>
      <th>Qty.</th>
      <th>Price</th>
      <th>Total</th>
      <th>Date Bought</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @owned_stocks.each do |stock| %>
      <tr>
        <td class="table-primary">
          <%= stock.company.name %>
        </td>
        <td class="table-primary">
          <%= stock.company.ticker     %>
        </td>
         <td class="table-primary">
          <%= stock.quantity     %>
        </td>
        <td class="table-primary">
          <%= number_to_currency_p(stock.price) %>
        </td>
        <td class="table-primary">
          <%= number_to_currency_p(stock.price * stock.quantity) %>
        </td>
        <td class="table-primary">
          <%= stock.buy_date.strftime("%F") %>
        </td>
        <td class="table-primary">
          <%# Types: 1 - Buy, 2 - Sell %>
          <%= link_to "Buy", new_transaction_path(:type => 1, :company_id => stock.company.id) %> /
          <%= link_to "Sell", new_transaction_path(:type => 2, :stock => stock.id) %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Sell', new_transaction_path(:type => 2, :stock => 8),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>