<h2>Owned Stocks </h2>

<table class="table table-primary table-striped">
  <thead>
    <tr class="table-primary">
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Date Bought</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @owned_stocks.each do |stock| %>
      <tr>
        <td class="table-primary">
          <%= stock.company.name %>
        </td>
        <td class="table-primary">
          <%= stock.company.ticker     %>
        </td>
        <td class="table-primary">
          <%= number_to_currency_p(stock.price) %>
        </td>
        <td class="table-primary">
          <%= stock.buy_date.strftime("%F") %>
        </td>
        <td class="table-primary">
          <%= link_to "Sell", new_transaction_path(:user_id => stock.user.id , :owned_stock_id => stock.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>