<h2>Owned Stocks </h2>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr class="">
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Qty.</th>
      <th scope="col">Current Price</th>
      <th scope="col">Total</th>      
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @owned_stocks.each do |stock| %>
      <tr>
        <td class="">
          <%= stock.company.name %>
        </td>
        <td class="">
          <%= stock.company.ticker     %>
        </td>
         <td class="">
          <%= stock.quantity     %>
        </td>
        <td class="">
          <%= number_to_currency_p(Company.find(stock.company_id).latest_price) %>
        </td>
        <td class="">
          <%= number_to_currency_p(Company.find(stock.company_id).latest_price * stock.quantity) %>
        </td>
        <td class="">
          <%# Types: 1 - Buy, 2 - Sell %>
          <%= link_to "Buy", new_transaction_path(:type => 1, :company_id => stock.company.id), {:remote => true, class: 'btn btn-primary btn-sm ' + (@user.is_approved? ? "" : "disabled")} %> 
          <%= link_to 'Sell', new_transaction_path(:type => 2, :stock => stock.id),  {:remote => true, class: 'btn btn-primary btn-sm ' + (@user.is_approved? ? "" : "disabled")}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>