<div class="d-flex flex-column align-items-center">
<h2>Edit Trader Account</h2>
<br>
<br>

<%= form_for(@user, :html => {class: "row"}) do |f| %>
  <br>
  <br>
  <div class="field col-md-4">
    <%= f.label :first_name, "First Name", {class: "form-label, label"} %>
    <br />
    <%= f.text_field :first_name, {class: "form-control"} %>
  </div>
  <br>

  <div class="field col-md-4">
    <%= f.label :middle_name, "Middle Name (optional)", {class: "form-label, label"} %>
    <br />
    <%= f.text_field :middle_name, {class: "form-control"} %>
  </div>
  <br>

  <div class="field col-md-4">
    <%= f.label :last_name, "Last Name", {class: "form-label, label"} %>
    <br />
    <%= f.text_field :last_name, {class: "form-control"} %>
  </div>
  <br>

  <div class="field col-md-6">
    <%= f.label :birthday, "Birthday", {class: "form-label, label"} %>
    <br />
    <%= f.date_field :birthday, {class: "form-control"} %>
  </div>
  <br>

  <div class="field col-md-6">
    <%= f.label :mobile, "Mobile No.", {class: "form-label, label"} %>
    <br />
    <%= f.text_field :mobile, {class: "form-control"} %>
  </div>
  <br>

  <div class="field col-12">
      <%= f.label :roles, "User Type", {class: "form-label, label"} %>
      <br />
      <%= f.select :roles, [["Administrator", "admin"], ["Trader", "trader"]], {}, {multiple: true, class: "form-control"} %>
  </div>

  <div class="field col-12">
    <%= f.label :current_password, "User Password", {class: "form-label, label"} %> 
    <br />
    <%= f.password_field :current_password, {class: "form-control", placeholder: "***********", disabled: true, value: @user.password} %>
  </div>
  
  <div class="actions mt-3">
    <%= f.submit "Update Trader Account", {class: "btn btn-primary"} %>
  </div>
<% end %>

