<h2>Stock Trends </h2>
<table class="table table-primary table-striped table-hover">
  <thead>
    <tr class="table-primary">
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Percent Change</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <h4>Top 5 </h4>
    <% @companies_top_5.each do |cmp| %>
      <tr>
        <td class="table-primary">
          <%= cmp.name %>
        </td>
        <td class="table-primary">
          <%= cmp.ticker     %>
        </td>
        <td class="table-primary">
          <%= cmp.latest_price %>
        </td>
        <td class="table-primary">
          <% percent_change = cmp.get_change_percent%>
          <span class=<%= percent_change > 0 ? "positive_change" : "negative_change" %>>
            <%= number_to_percent(percent_change) %>
          </span>
        </td>
         <td class="table-primary">
          <%= link_to "Buy", new_transaction_path(:type => 1, :company_id => cmp.id), {:remote => true, class: 'btn btn-primary btn-sm ' + (@user.is_approved? ? "" : "disabled")} %>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-primary table-striped table-hover">
  <thead>
    <tr class="table-primary">
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Percent Change</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <h4>Bottom 5 </h4>
    <% @companies_bottom_5.each do |cmp| %>
      <tr>
        <td class="table-primary">
          <%= cmp.name %>
        </td>
        <td class="table-primary">
          <%= cmp.ticker     %>
        </td>
        <td class="table-primary">
          <%= cmp.latest_price %>
        </td>
        <td class="table-primary">
          <% percent_change = cmp.get_change_percent%>
          <span class=<%= percent_change > 0 ? "positive_change" : "negative_change" %>>
            <%= number_to_percent(percent_change) %>
          </span>
        </td>
        <td class="table-primary">
          <%= link_to "Buy", new_transaction_path(:type => 1, :company_id => cmp.id), {:remote => true, class: 'btn btn-primary btn-sm ' + (@user.is_approved? ? "" : "disabled") } %>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
