<h2>Stock Trends </h2>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr class="">
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Current Price</th>
      <th scope="col">Percent Change</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <h4>Top 5 </h4>
    <% @companies_top_5.each do |cmp| %>
      <tr>
        <td class="">
          <%= cmp.name %>
        </td>
        <td class="">
          <%= cmp.ticker     %>
        </td>
        <td class="">
          <%= cmp.previous_close %>
        </td>
        <td class="">
          <%= cmp.latest_price %>
        </td>
        <td class="">
          <% percent_change = cmp.get_change_percent%>
          <span class=<%= percent_change >= 0 ? "positive_change" : "negative_change" %>>
            <%= number_to_percent(percent_change) %>
          </span>
        </td>
         <td class="">
          <%= link_to "Buy", new_transaction_path(:type => 1, :company_id => cmp.id), {:remote => true, id: 'btn_buy_' + cmp.id.to_s , class: 'btn btn-primary btn-sm ' + (@user.is_approved? ? "" : "disabled")} %>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr class="">
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Current Price</th>
      <th scope="col">Percent Change</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <h4>Bottom 5 </h4>
    <% @companies_bottom_5.each do |cmp| %>
      <tr>
        <td class="">
          <%= cmp.name %>
        </td>
        <td class="">
          <%= cmp.ticker     %>
        </td>
         <td class="">
          <%= cmp.previous_close %>
        </td>
        <td class="">
          <%= cmp.latest_price %>
        </td>
        <td class="">
          <% percent_change = cmp.get_change_percent%>
          <span class=<%= percent_change >= 0 ? "positive_change" : "negative_change" %>>
            <%= number_to_percent(percent_change) %>
          </span>
        </td>
        <td class="">
          <%= link_to "Buy", new_transaction_path(:type => 1, :company_id => cmp.id), {:remote => true, class: 'btn btn-primary btn-sm ' + (@user.is_approved? ? "" : "disabled") } %>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
