<h2>Stock Trends </h2>
<%= search_form_for @q, remote: true do |f| %>
  <%= f.label :name_cont, 'Company Name' %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<table class="table table-primary table-striped">
  <thead>
    <tr class="table-primary">
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Percent Change</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |cmp| %>
      <tr>
        <td class="table-primary">
          <%= cmp.name %>
        </td>
        <td class="table-primary">
          <%= cmp.ticker     %>
        </td>
        <td class="table-primary">
          <%= cmp.latest_price %>
        </td>
        <td class="table-primary">
          <%= number_to_percent(cmp.get_change_percent) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
