<h2 class="test"><%= @company.name %></h2>

<div class="flex-container flex1">
  <h6 class="gray"><%= @company.ticker %></h6>
  <h2><%= 300  %></h2>
  <h6><%= "10%"  %></h6>
</div>

<div class="flex-container flex2">
  <div>
    <p class="gray">Pre-market</p>
    <p>Price</p>
  </div>
  <div>
    <p class="gray">Previous Close</p>
    <p>Price</p>
  </div>
  <div>
    <p class="gray">Open</p>
    <p>Price</p>
  </div>
</div>

<div class="flex-container flex3">
  <h6>Details</h6>
  <p class="gray">Market Capitalization:  <span class="white"><%= @company.market_capitalization %></span></p>
  <p class="gray">Beta:  <span class="white"><%= @company.beta %></span></p>
  <p class="gray">EPS:  <span class="white"><%= @company.eps %></span></p>
  <p class="gray">PE Ratio:  <span class="white"><%= @company.pe_ratio %></span></p>
  <p class="gray">Forward PE:  <span class="white"><%= @company.forward_pe %></span></p>
  <p class="gray">EBITDA:  <span class="white"><%= @company.ebitda %></span></p>
  <p class="gray">Profit Margin:  <span class="white"><%= @company.profit_margin %></span></p>
  <p class="gray">Dividend per Share:  <span class="white"><%= @company.dividend_per_share %></span></p>
  <p class="gray">Dividend Yield:  <span class="white"><%= @company.dividend_yield %></span></p>
  <p class="gray">Ex-Dividend Date:  <span class="white"><%= @company.ex_dividend_date %></span></p>
</div>

<div class="flex-container flex4">
  <p class="gray">Quantity Owned:  <span class="white">Number</span></p>
  <p class="gray">Bought at:  <span class="white">Price</span></p>   
</div>

<div class="flex-container flex5">
  <div>
    <p class="gray">Buying</p>
    <p>Price</p>
    <button class="button">Buy</button>
  </div>
  <div>
    <p class="gray">Selling</p>
    <p>Price</p>
    <button class="button">Sell</button>
  </div>
</div>