= javascript_pack_tag 'search'

%select#search{name: "company_id"}
  = @companies.each do |company|
    %option{value: "#{company.id}"}= company.name

%h2= @company.name

%br
%h6= @company.ticker    
%h2= 300 #PriceService.fetch_quote(@company.ticker).output["Global Quote"]["05. price"]
%h6= "10%" #PriceService.fetch_quote(@company.ticker).output["Global Quote"]["10. change percent"]
%br

%p
  Stock Exchange: 
  %span= @company.exchange

%p
  Asset Type:  
  %span= @company.asset_type

%br

%p
  Market Capitalization:  
  %span= @company.market_capitalization

%p
  Beta:  
  %span= @company.beta

%p
  PE Ratio:  
  %span= @company.pe_ratio

%p
  EPS:  
  %span= @company.eps

%p
  Ex-Dividend Date:  
  %span= @company.ex_dividend_date

%br

= link_to 'Go back to Home page', companies_path
