%h2= @company.name

%br
%h6= @company.ticker    
%h2= 300 #PriceService.fetch_quote(@company.ticker).output["Global Quote"]["05. price"]
%h6= "10%" #PriceService.fetch_quote(@company.ticker).output["Global Quote"]["10. change percent"]
%br

%p
  Stock Exchange: 
  %span= @company.exchange

%p
  Asset Type:  
  %span= @company.asset_type

%br

%p
  Market Capitalization:  
  %span= @company.market_capitalization

%br

%p
  Current price:
  %span= @company.latest_price

%br

= link_to "Buy", new_transaction_path(:type => 1, :company_id => @company.id), {:remote => true, id: 'btn_buy_' + @company.id.to_s , class: 'btn btn-primary btn-lg ' + (@user.is_approved? ? "" : "disabled")}

%br
%br
= link_to 'Go back to Home page', companies_path
