<div class="d-flex flex-column flex-shrink-0 sidebar">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to "Home", 
        root_path, 
        method: :get,  
        class: "nav-link #{active_class(root_path)}"%>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", 
        owned_stocks_path, 
        method: :get,  
        class: "nav-link #{active_class(owned_stocks_path)}"%>
      </li>
      <li class="nav-item">
        <%= link_to "Transactions", 
        transactions_path, 
        method: :get,  
        class: "nav-link #{active_class(transactions_path)}"%>
      </li>
      <li>
        Wallet Balance <%=  number_to_currency_p(@user.wallet_balance) %>
      </li>
      <% if logged_in?(:admin)%>
        <li class="nav-item">
          <%= link_to "User Management", 
          users_path, 
          method: :get,  
          class: "nav-link #{active_class(users_path)}"%>
        </li>
      <% end %>
    </ul>
    <hr>
  </div>