<!DOCTYPE html>
<html>
  <head>
    <title>Stocks App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <body class="row mt-3 mb-1 body-container">
      <% if user_signed_in? %>
        <nav class="col-3 sidebar-container">
          <%= render 'layouts/navbar' %>
        </nav>
      <% end %>
      <main class="col-9 main-container">
        <%= render 'layouts/header' %>
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </main>
    </body>
  </div>
</html>
