<!DOCTYPE html>
<html>
  <head>
    <title>Stocks App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# If error occurs on line 13 after cloning run the following: %>
    <%# Run rails webpacker:install %>
    <%# Run rails webpacker:compile %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <navbar>
      <%= render 'layouts/navbar' %>
    </navbar>
    <main>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </main
  </body>
</html>
